#gameBoard {
    display : grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 700px;
    margin: auto;
}

.card {
    margin : 10px;
    transition: 0.5s;
}

.card:hover {
    cursor : pointer;
}

.card.hidden {
    background-image : url(./img/back.bmp);
    background-size: contain;
    /* permet une jolie transition au clic sur la carte */
    transform: rotateY(180deg);
    background-repeat: no-repeat;
}

.card img {
    height: 100%;
    width: 100%;
}

.card img {
    margin: 0;
}

.card.show img {
    visibility: visible;
}

.card.hidden img {
    visibility: hidden;
}

.card.finded {
    border: solid 5px #E0C2CA;
    opacity: 0.7;
}