#gameBoard {
    display : grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 700px;
    margin: auto;
}

.card {
    margin : 10px;
    transition: 0.5s;
    z-index: 1;
}

.card:hover {
    cursor : pointer;
}

.card.hidden {
    background-image : url(./img/back.bmp);
    background-size: contain;
    /* permet une jolie transition au clic sur la carte */
    transform: rotateY(180deg);
    background-repeat: no-repeat;
}

.card img {
    height: 100%;
    width: 100%;
}

.card img {
    margin: 0;
}

.card.show img {
    visibility: visible;
}

.card.hidden img {
    visibility: hidden;
}

.card.finded {
    border: solid 5px #E0C2CA;
    opacity: 0.7;
}

.confetti {
    width: 8px; 
    height: 15px;
    background-color: red;
    animation : falling 5s infinite;
    position : absolute;
    top : -20px;
    z-index: 2;
}

@keyframes falling {
    0% {
        top : -20px;
        transform: rotate(180deg);
    }
    20% {
        transform: translateX(100px) rotate(360deg);
    }
    40% {
        transform: translateX(40px) rotate(180deg);
    }
    50% {
        opacity: 1;
        transform: translateX(20px) rotate(360deg);
    }
    70% {
        opacity: 0.3;
        transform: translateX(30px) rotate(180deg);
    }
    100% {
        opacity: 0;
        top : 950%;
        transform: translateX(20px) rotate(360deg);
    }
}